{% extends 'base.html.twig' %}

{% block title %}
Détail d'une idée
{% endblock %}

{% block body %}

    <h2>Détail de l'idée</h2>
    <div class="">

        <div class="">
            <h2>{{ wish.title }}</h2>
            <div>Description : {{ wish.description }}</div>
            <div>Auteur : {{ wish.author }}</div>
            <div>Date de création : {{ wish.dateCreated | date('d-m-Y') }}</div>

        </div>
    </div>



{% endblock %}

