{% extends 'base.html.twig' %}

{% block title %}
    WishList
{% endblock %}


{% block body %}

    <h2>Voici toutes les idées : </h2>

    {% for wish in wishes %}

        <a href="{{ path('wish/detail', {'id': wish.id}) }}">
            <p>{{ wish.title }}
            ---
                {% if (wish.category.id) %}
                    {{ wish.category.name }}
                    {% else %}
                    Aucune catégorie
            {% endif %}
            </p>

        </a>

    {% endfor %}

{% endblock %}


