<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{asset('css/stylesheet.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ asset('img/favicon.png') }}">

        <title> {% block title %} TP Bucket-List {% endblock %} </title>

    </head>


    <body>

    <div class="container">

        {% include 'bodyStructure/header.html.twig' %}

        <main>

            {% for label, messages in app.flashes %}
                {% for message in messages %}

            <div class="message">
                    {{ message }}

                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}

        <p>Bienvenue sur cette jolie page ! <br> </p>
        <p>Vous pouvez ajouter vos souhaits mais aussi consulter tous les souhaits
        qui ont déjà été renseignés. <br></p>
            <p>Très bonne visite !
        </p>

        {% endblock %}

        </main>
</div>
    </body>

        {% include 'bodyStructure/footer.html.twig' %}

