<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{asset('css/stylesheet.css') }}">

        <link href="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:ital,wght@1,300&family=Work+Sans:wght@300&display=swap" rel="stylesheet">

        <link rel="icon" href="{{ asset('img/favicon.png') }}">

        <title> {% block title %} Page d'accueil du TP 3 {% endblock %} </title>

    </head>


    <body>

    <div class="container">

        {% include 'bodyStructure/header.html.twig' %}

        <main>

        {% block body %}

        <p>Body par défaut</p>
        <p>Body par défaut</p>
        <p>Body par défaut</p>
        <p>Body par défaut</p>
        <p>Body par défaut</p>
        <p>Body par défaut</p>
        <p>Body par défaut</p>
        <p>Body par défaut</p>

        {% endblock %}

        </main>
</div>
    </body>

        {% include 'bodyStructure/footer.html.twig' %}


</html>
